<div class="sidecont">
    <br>
     <h1><b>voila</b> </h1>
     <hr>
     <div class="maticons">
        <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">fingerprint</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">duo</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">g_translate</mat-icon>
     </div>
     <hr>
     <p style="font-size: 15px;" >All &copy;copyrights reserved</p>
     <hr>
      
     <ul>
       <!--  -->
       <li>
         <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
       </li>
       <li>
        <a [routerLink]="['/verify']" routerLinkActive="router-link-active">Verify Guide</a>
      </li>
      <li>
        <a [routerLink]="['/guides']" routerLinkActive="router-link-active">Guides</a>
      </li>
      <li>
        <a [routerLink]="['/tourists']" routerLinkActive="router-link-active">Tourists</a>
      </li>
      <li>
        <a [routerLink]="['/deals']" routerLinkActive="router-link-active">Deals</a>
      </li>
      <li>
        <a [routerLink]="['/tours']" routerLinkActive="router-link-active">Tours</a>
      </li>

      <!--  -->
      <li>
        <a [routerLink]="['/verify-profile']" routerLinkActive="router-link-active">verify guide profile</a>
      </li>
      <li>
        <a [routerLink]="['/guide-profile']" routerLinkActive="router-link-active">guide profile</a>
      </li>
      <li>
        <a [routerLink]="['/personal-tour-profile']" routerLinkActive="router-link-active">personal tour profile</a>
      </li>
      <li>
        <a [routerLink]="['/deal-profile']" routerLinkActive="router-link-active">deal profile</a>
      </li>
      <li>
        <a [routerLink]="['/tourist-profile']" routerLinkActive="router-link-active">tourists profile</a>
      </li>
     
      <!--  -->
      <li>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">login</a>
      </li>
      <li>
        <a [routerLink]="['/change-password']" routerLinkActive="router-link-active">change password</a>
      </li>
      <li>
        <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">forget password</a>
      </li>
      


     </ul>

</div>
