<br>
<h1>Deals</h1>
<br>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">S. no.</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Average ratings</th>
            <th scope="col">Hosted By</th>
            <th scope="col">Tourists attended</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mhare desh- The City highlight tour</td>
            <td>Jaipur</td>
            <td>5</td>
            <td>Varun Singh</td>
            <td>354</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Palaces, Forts and the Legacy- Cultural Tour</td>
            <td>Jaipur</td>
            <td>5</td>
            <td>Raman Mehra</td>
            <td>300</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Rajasthani Delicacies Tour- The Food Tour</td>
            <td>Jaipur</td>
            <td>5</td>
            <td>Raman Mehra</td>
            <td>292</td>
        </tr>
    </tbody>
</table>