mat-sidenav-container{
  height: 100%;
}
.sidecont h1{
  
  text-align: center;
}
mat-sidenav{
  background-color: rgba(194, 231, 243, 0.733);
  width: 320px;
  
}
.maticons{
  text-align: center;
}
.maticons mat-icon{
  margin: 7px;
}
.btn-group:hover{
 background-color: rgb(49, 49, 247);
}
