<div class="pro-bg">
    <div class="container pt-5  white-text">


        <div class="row">
            <div class="col-4">
                <img src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width: 280px; height:280px;" class="mx-auto img-fluid rounded-circle">
            </div>
            <div class="col-4">
                <div class="mt-4">


                    <div><i class="fas fa-check-circle fa-2x"></i><span style="font-size: 28px;">  Barkha Joshi</span>
                        <div class="py-3">
                            <span class="pt-2 pr-2" style="font-size: 24px; font-weight: 500;">4.0 </span> <i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i><i class="fas fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i><i class="far fa-star fa-lg"></i>
                        </div>
                    </div>
                    <!-- <div>
                        <mdb-icon fas icon="star" size="2x"></mdb-icon>
                        <mdb-icon fas icon="star"></mdb-icon>
                        <mdb-icon fas icon="star"></mdb-icon>
                        <mdb-icon fas icon="star"></mdb-icon>
                        <mdb-icon fas icon="star"></mdb-icon>
                        <strong> 22 Reviews</strong>
                    </div> -->
                </div>
            </div>
            <div class="col-4" style="font-size: 20px;">
                <div>
                    <div><a><i class="fas fa-calendar-check fa-2x"></i> Completed Tours   <span>34</span></a></div>
                    <div class="py-4"><a><i class="fas fa-business-time fa-2x"></i> Current Bookings     <span>3</span></a></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
            <div class="col-4" style="font-size: 20px;">
                <div><i class="fas fa-phone-alt fa-2x"></i> +91 002-001-0078</div>
            </div>
        </div>
    </div>
</div>
<div class="my-5 mx-3">
    <h1 class="mb-4">Profile details</h1>
    <div class="container mt-3">
        <div class="row">
            <div class="col-6" style="font-size: 20px; border-left:1px solid black;">
                <div><strong>Address</strong>
                    <div class="float-right"> 57, Block No. 4, Disha Apts, Pimpri West,Pune
                    </div>
                </div>
                <div><strong>City</strong>
                    <div class="float-right">Pune</div>
                </div>
                <div><strong>State</strong>
                    <div class="float-right">Maharashtra</div>
                </div>
                <div><strong>Speaks</strong>
                    <div class="float-right">English, Hindi and French</div>
                </div>
                <div><strong>Loves</strong>
                    <div class="float-right">Photography, Nature & Street Food</div>
                </div>

            </div>
            <div class="col-6 " style="font-size: 20px; border-left:1px solid black;">
                <div><strong>Aadhar Number</strong>
                    <div class="float-right">4444-9999-3333</div>
                </div>
                <div><strong>Nationality</strong>
                    <div class="float-right">India</div>
                </div>
                <div><strong>Date of Birth</strong>
                    <div class="float-right">02-07-1993</div>
                </div>
                <div><strong>Email ID</strong>
                    <div class="float-right">barkhajoshi2@xyz.com</div>
                </div>
                <div>Joined Voila in 2019</div>
            </div>
        </div>
    </div>
</div>

<div class="my-5 mx-3">
    <h1 class="mb-4">Bookings</h1>
    <h2>Completed</h2>
    <mdb-card class="w-75 mx-auto my-4">

        <mdb-card-body>
            <div class="row">
                <div class="col-4" style="font-size: 20px;">
                    <div class="py-2"><i class="fas fa-calendar-alt fa-lg"></i> 2 Jul,20 <strong>TO</strong> 3 Jul,20</div>
                    <div><i class="fas fa-clock fa-lg"></i> Total 6 Hours</div>
                </div>
                <div class="col-5 text-center" style="font-size: 20px; border-left:1px solid black;">
                    <mdb-badge class="sunny-morning-gradient mb-2">Pre-Planned</mdb-badge>

                    <div>The Great Indian Shopaholic tour</div>
                </div>




                <div class="col-3 text-center" style="font-size: 20px; border-left:1px solid black;">
                    <div class="pb-2"><i class="fas fa-user-friends fa-lg"></i> </div>

                    <div>Manish +2</div>
                </div>


            </div>
            <!-- <mdb-card-title>
                        <h5>Special title treatment</h5>
                    </mdb-card-title> -->
            <!-- <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text> -->
            <!-- <a href="" mdbBtn color="primary">Go somewhere!</a> -->
        </mdb-card-body>
    </mdb-card>
</div>

<div class="my-5 mx-3">
    <h1 class="mb-4">Deals</h1>
    <div class="d-flex flex-wrap my-4">
        <div class="py-3 px-3" style="width:28%;">
            <mdb-card>
                <div class="img-fav">

                    <!--Card image-->
                    <mdb-card-img class="main-img" src="https://images.thrillophilia.com/image/upload/s--8pyG_oK_--/c_fill,dpr_1.0,f_auto,fl_strip_profile,g_center,h_450,q_auto,w_753/v1/images/photos/000/113/476/original/1501063349_Pune_Palace.jpg.jpg" alt="Card image cap"></mdb-card-img>
                    <img class="card-img rounded-circle" src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width:70px; height:70px; border:white 3px solid;" alt="Card image cap">
                    <h5><span class="badge badge-default font-weight-normal">Pune tour with Barkha Joshi</span></h5>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h5><strong>The Royal Heritage Tour</strong></h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <div>Palaces, forts and museums. A complete introduction to the royal past.</div>
                        <div>&#x20b9;1000 pp &#8226; 4.5 hours &#8226; City Highlights Tour</div>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="py-3 px-3" style="width:28%;">
            <mdb-card>
                <div class="img-fav">

                    <!--Card image-->
                    <mdb-card-img class="main-img" src="https://images.thrillophilia.com/image/upload/s--8pyG_oK_--/c_fill,dpr_1.0,f_auto,fl_strip_profile,g_center,h_450,q_auto,w_753/v1/images/photos/000/113/476/original/1501063349_Pune_Palace.jpg.jpg" alt="Card image cap"></mdb-card-img>
                    <img class="card-img rounded-circle" src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width:70px; height:70px; border:white 3px solid;" alt="Card image cap">
                    <h5><span class="badge badge-default font-weight-normal">Pune tour with Barkha Joshi</span></h5>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h5><strong>The Royal Heritage Tour</strong></h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <div>Palaces, forts and museums. A complete introduction to the royal past.</div>
                        <div>&#x20b9;1000 pp &#8226; 4.5 hours &#8226; City Highlights Tour</div>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="py-3 px-3" style="width:28%;">
            <mdb-card>
                <div class="img-fav">

                    <!--Card image-->
                    <mdb-card-img class="main-img" src="https://images.thrillophilia.com/image/upload/s--8pyG_oK_--/c_fill,dpr_1.0,f_auto,fl_strip_profile,g_center,h_450,q_auto,w_753/v1/images/photos/000/113/476/original/1501063349_Pune_Palace.jpg.jpg" alt="Card image cap"></mdb-card-img>
                    <img class="card-img rounded-circle" src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width:70px; height:70px; border:white 3px solid;" alt="Card image cap">
                    <h5><span class="badge badge-default font-weight-normal">Pune tour with Barkha Joshi</span></h5>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h5><strong>The Royal Heritage Tour</strong></h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <div>Palaces, forts and museums. A complete introduction to the royal past.</div>
                        <div>&#x20b9;1000 pp &#8226; 4.5 hours &#8226; City Highlights Tour</div>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="py-3 px-3" style="width:28%;">
            <mdb-card>
                <div class="img-fav">

                    <!--Card image-->
                    <mdb-card-img class="main-img" src="https://images.thrillophilia.com/image/upload/s--8pyG_oK_--/c_fill,dpr_1.0,f_auto,fl_strip_profile,g_center,h_450,q_auto,w_753/v1/images/photos/000/113/476/original/1501063349_Pune_Palace.jpg.jpg" alt="Card image cap"></mdb-card-img>
                    <img class="card-img rounded-circle" src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width:70px; height:70px; border:white 3px solid;" alt="Card image cap">
                    <h5><span class="badge badge-default font-weight-normal">Pune tour with Barkha Joshi</span></h5>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h5><strong>The Royal Heritage Tour</strong></h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <div>Palaces, forts and museums. A complete introduction to the royal past.</div>
                        <div>&#x20b9;1000 pp &#8226; 4.5 hours &#8226; City Highlights Tour</div>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<div class="my-5 mx-3">
    <h1 class="mb-4">Ratings and Reviews</h1>
    <div class="container">
        <mdb-card style="width:40%" class="frozen-dreams-gradient">
            <mdb-card-body>
                <mdb-card-title>
                    <div class="row">
                        <div class="col-6">
                            <h4>Average Ratings</h4>
                        </div>
                        <div class="col-6">
                            <div>
                                <span class="pt-2" style="font-size: 24px; font-weight: 500;">4.0 </span> <i class="fas fa-star fa-lg"></i>
                                <i class="fas fa-star fa-lg"></i><i class="fas fa-star fa-lg"></i>
                                <i class="fas fa-star fa-lg"></i><i class="far fa-star fa-lg"></i>
                            </div>
                            <div class="pt-2">
                                <h5>28 Reviews</h5>
                            </div>
                        </div>

                    </div>



                </mdb-card-title>
                <!-- <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
            </mdb-card-text> -->
                <!-- <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
          </div> -->
            </mdb-card-body>
        </mdb-card>
        <div class="pt-5">
            <span style="font-size:18px; "><strong>Preksha Rao    </strong></span><span class="pl-2"> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i><i class="fas fa-star"></i>
        <i class="fas fa-star"></i><i class="fas fa-star"></i></span>
            <div><small>
          8 July 2019
        </small></div>
            <div class="py-1">Barkha is an enthusiastic and lovely person. From Supreme Sandwiches to Cheese Dabeli, she made us have a real great treat of Marathi Food. I really thought it has been a perfect tour for a foodie like me!</div>
        </div>
        <div class="pt-4">
            <span style="font-size:18px; "><strong>Kunal Dutta    </strong></span><span class="pl-2"> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i><i class="fas fa-star"></i>
        <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span>
            <div><small>
          25 July 2019
        </small></div>
            <div class="py-1">I travelled with her along with my three cousins. She showed us all the adventurous spots and literally the best places of Pune. </div>
        </div>
    </div>
    <div class="text-center py-2"> <button mdbBtn type="button" rounded="true" style=" border-radius: 25px; text-transform:none; font-size: 17px;" class="cyan white-text font-weight-bold" mdbWavesEffect>Read more</button>
    </div>
</div>
