<br>
<h1>Verify Guides</h1>
<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">S.no.</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Age</th>
      <th scope="col">Experience</th>
      <th scope="col">Request date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>rishikesh</td>
      <td>40</td>
      <td>yes</td>
      <td>28/5/2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>rishikesh</td>
      <td>40</td>
      <td>No</td>
      <td>5/5/2020</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>rishikesh</td>
      <td>40</td>
      <td>yes</td>
      <td>6/6/2020</td>
    </tr>
  </tbody>
</table>
