<br>
<h1>Personal Deals</h1>
<br>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">S. no.</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">People</th>
            <th scope="col">Requested By</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mhare desh- The City highlight tour</td>
            <td>Jaipur</td>
            <td>5</td>
            <td>Varun Singh</td>
            <td>Pending</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Palaces, Forts and the Legacy- Cultural Tour</td>
            <td>Jaipur</td>
            <td>5</td>
            <td>Raman Mehra</td>
            <td>Approved</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Camels and Castles- Cultural Tour</td>
            <td>Jaipur</td>
            <td>5</td>
            <td>Raman Mehra</td>
            <td>Approved</td>
        </tr>
    </tbody>
</table>
