<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="md-form form-sm">
  <input mdbInput type="text" id="form1" class="form-control form-control-sm">
  <label for="form1" class="">Current Password</label>
</div><br>
<div class="md-form form-sm">
  <input mdbInput type="text" id="form1" class="form-control form-control-sm">
  <label for="form1" class="">New Password</label>
</div><br>
<div class="md-form form-sm">
  <input mdbInput type="text" id="form1" class="form-control form-control-sm">
  <label for="form1" class="">Confirm Password</label>
</div>
    </div>
  </div>
</div>

