<br>
<div class="jumbotron">
  <div class="row">
    <div class="col-8">
<h1 class="display-4">Barkha Rani</h1>
<hr class="my-4">
 <div class="row">
   <div class="col-6">
     <h4>Country: India</h4>
     <h4>Completed Deals: 30</h4>

   </div>
   <div class="col-6">
    <h4>Age: 23</h4>
    <h4>Phone: 8476847755</h4>
   </div>
 </div>
    </div>
    <div class="col-4">
      <img src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width: 180px; height:180px; float: right;" class="mx-auto img-fluid rounded-circle">
    </div>
  </div>
</div>

<div class="my-5 mx-3">
  <h1 class="mb-4">Profile details</h1>
  <div class="container mt-3">
      <div class="row">
          <div class="col-6" style="font-size: 20px; border-left:1px solid black;">
              <div><strong>Address</strong>
                  <div class="float-right"> 57, Block No. 4, Disha Apts, Pimpri West,Pune
                  </div>
              </div>
              <div><strong>City</strong>
                  <div class="float-right">Pune</div>
              </div>
              <div><strong>State</strong>
                  <div class="float-right">Maharashtra</div>
              </div>
              <div><strong>Speaks</strong>
                  <div class="float-right">English, Hindi and French</div>
              </div>
              <div><strong>Loves</strong>
                  <div class="float-right">Photography, Nature & Street Food</div>
              </div>

          </div>
          <div class="col-6 " style="font-size: 20px; border-left:1px solid black;">
              <div><strong>Aadhar Number</strong>
                  <div class="float-right">4444-9999-3333</div>
              </div>
              <div><strong>Nationality</strong>
                  <div class="float-right">India</div>
              </div>
              <div><strong>Date of Birth</strong>
                  <div class="float-right">02-07-1993</div>
              </div>
              <div><strong>Email ID</strong>
                  <div class="float-right">barkhajoshi2@xyz.com</div>
              </div>
              <div>Joined Voila in 2019</div>
          </div>
      </div>
  </div>
</div>

<div class="my-5 mx-3">
  <!-- <h1 class="mb-4">Bookings</h1> -->
  <h2>Upcomming  Booking</h2>
  <mdb-card class="w-75 mx-auto my-4">

      <mdb-card-body>
          <div class="row">
              <div class="col-4" style="font-size: 20px;">
                  <div class="py-2"><i class="fas fa-calendar-alt fa-lg"></i> 2 Jul,20 <strong>TO</strong> 3 Jul,20</div>
                  <div><i class="fas fa-clock fa-lg"></i> Total 6 Hours</div>
              </div>
              <div class="col-5 text-center" style="font-size: 20px; border-left:1px solid black;">
                  <mdb-badge class="sunny-morning-gradient mb-2">Pre-Planned</mdb-badge>

                  <div>The Great Indian Shopaholic tour</div>
              </div>




              <div class="col-3 text-center" style="font-size: 20px; border-left:1px solid black;">
                  <div class="pb-2"><i class="fas fa-user-friends fa-lg"></i> </div>

                  <div>Manish +2</div>
              </div>


          </div>
          <!-- <mdb-card-title>
                      <h5>Special title treatment</h5>
                  </mdb-card-title> -->
          <!-- <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text> -->
          <!-- <a href="" mdbBtn color="primary">Go somewhere!</a> -->
      </mdb-card-body>
  </mdb-card>
</div>
