<br>
<H1>Top Tourists
    <mdb-icon fas icon="500px"></mdb-icon>
</H1>
<br>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Avarage Ratings</th>
            <th scope="col">Deals completed</th>
            <th scope="col">Tourists attended</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Rishikesh</td>
            <td>5</td>
            <td>1020</td>
            <td>20101</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Rishikesh</td>
            <td>5</td>
            <td>1020</td>
            <td>20101</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Rishikesh</td>
            <td>5</td>
            <td>1020</td>
            <td>20101</td>
        </tr>
    </tbody>
</table>
<br>
<H1>Top Deals</H1>
<br>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Guide Name</th>
            <th scope="col">Location</th>
            <th scope="col">Avarage Ratings</th>
            <th scope="col">Tourists attended</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Rishikesh</td>
            <td>5</td>
            <td>20101</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Rishikesh</td>
            <td>5</td>

            <td>20101</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Rishikesh</td>
            <td>5</td>

            <td>20101</td>
        </tr>
    </tbody>
</table>
<br>
<H1>Top Visiting Country</H1>
<br>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Country Name</th>
            <th scope="col">Avarage Ratings</th>
            <th scope="col">Deals completed</th>
            <th scope="col">Tourists visited</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Denmark</td>
            <td>5</td>
            <td>1020</td>
            <td>20101</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Denmark</td>
            <td>5</td>
            <td>1020</td>
            <td>20101</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Denmark</td>
            <td>5</td>
            <td>1020</td>
            <td>20101</td>
        </tr>
    </tbody>
</table>