<h1>Guides throughout</h1>
<!-- Basic dropdown -->
<button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">Basic dropdown</button>

<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>
<!-- Basic dropdown -->
<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">S.no.</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Rating</th>
      <th scope="col">Deals Available</th>
      <th scope="col">tourists visited</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>rishikesh</td>
      <td>4</td>
      <td>10</td>
      <td>5012</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>rishikesh</td>
      <td>4</td>
      <td>10</td>
      <td>5012</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>rishikesh</td>
      <td>4</td>
      <td>10</td>
      <td>5012</td>
    </tr>
  </tbody>
</table>
