<p>login-page works!</p>
<div class="card mx-auto my-auto" style="width:55%">
    <div class="row">
        <div class="col-7 p-5">
            <!-- Card content -->


            <!-- Title -->
            <h2 class="card-title">Log in to your account</h2>
            <div class="card-text">

                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <mdb-icon fas icon="user-circle" class="prefix"></mdb-icon>
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6"> -->
                <!-- Material input -->
                <!-- <div class="md-form">
                            <input type="text" id="form2" class="form-control">
                            <label for="form2">Last Name</label>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <mdb-icon far icon="calendar-alt" class="prefix"></mdb-icon>
                            <input style="margin-top: 0 !important; margin-bottom: 0 !important;" mdbInput type="date" id="form3" class="form-control">
                            <label style="margin-bottom: 0 !important; padding-bottom: 0 !important;" for="form3">Date of Birth</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <mdb-icon fas icon="phone-alt" class="prefix"></mdb-icon>
                            <input mdbInput type="text" id="form4" class="form-control">
                            <label for="form4">Your Phone Number</label>
                        </div>
                    </div>

                </div> -->
                <!-- <div class="row">
                    <div class="col-md-6">
                        <select class="browser-default custom-select">
                    <option selected>Gender</option>
                    <option value="1">Female</option>
                    <option value="2">Male</option>
                    <option value="3">Others</option>
                  </select>
                    </div>
                    <div class="col-md-6">
                        <select class="browser-default custom-select">
                  <option selected>Nationality</option>
                  <option value="1">India</option>
                  <option value="2">Australia</option>
                  <option value="3">Russia</option>
                </select>
                    </div>

                </div> -->
                <div class="md-form mb-0">
                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                    <input mdbInput type="email" id="form5" class="form-control">
                    <label for="form5">Email</label>
                </div>
                <div class="md-form mb-0">
                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                    <input mdbInput type="password" id="form6" class="form-control">
                    <label for="form6">Enter Password</label>
                </div>
                <div class="d-flex justify-content-around m-3">
                    <div>
                        <!-- Remember me -->
                        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>


                <!-- Text -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p> -->

                <div class="text-center">
                    <a href="#" style="text-transform:none;" class="btn pink darken-3 btn-rounded white-text">Log in</a>
                </div>
            </div>
            <!-- style="height: 550px; width:380px;" -->
        </div>
        <div class="col-md-5 py-4 pl-0">
            <div class="">
                <img src="assets\images\it_support_monochromatic.png" style="height:100%; width: 340px;" alt="Card image cap">
            </div>
            <!-- Card image -->
            <!-- style="height: 550px; width:380px; border-radius: 0px 10px 10px 0px" -->
        </div>

    </div>
    <!-- Card -->
</div>